<a href="https://colab.research.google.com/github/yongsa-nut/TU_Intro_Prog/blob/main/Chapter_4_Exercise_Sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1** What will the following code print out?

```
num = 10
while num > 1:
 print(num, end="")
 num -= 2
```

In [ ]:
108642

**Q2**: What will the following code print out?

```
total = 0
for i in range(1,10,2):
  total += i
print(i)
```

In [ ]:
9

**Q3**: What will the following code print out?

```
total = 0
for num in [4, 5, 7, 9, 12]:
  if num %2 == 0:
    total += num
  else:
    total += 1
print(total)
```

In [ ]:
19

**Q4**: What will the following code print out?
```
lowest = -1
for n in [10, 20, 30, 40, 50]:
  if n < lowest:
    lowest = n
print(lowest)
```

In [ ]:
-1

**Q5**: What will the following code print out?

```
for i in range(5):
  for j in range(1, i):
    print(j, end='')
```

In [ ]:
112123

**Q6**: Fill in the blank with a number so that the program will print out 15.

```
x = 10
y = 0
while x > 0:
  x -= 2
  y += _
print(y)
```

In [ ]:
3

**Q7**: Fill in the blank with a number so that the program will print out 8.

```
count = 1
for i in range(1,_):
  count += count
print(count)
```

In [ ]:
4

**Q8**: What will the following code print out?

```
for i in range(0, 10, 3):
  for j in range(5, i, - 3):
     print(j, end='')  
```

In [ ]:
525

**Q9**: What will the following code print out?

```
total = 0
for i in range(0, 8, 2):
  for j in range(0, 3):
    if i > j:
      total += i
    else:
      total += 1
print(total)
```

In [ ]:
38

**Q10:** What will the following code print out?

```
num = 1
count = 0
while num <= 1024:
  count += 1
  num *= 2
print(count)
```

In [ ]:
11



---

**Q11**:
Write a program that repeatedly prompts a user for integer numbers until the user enters 'done'. <br> Once 'done' is entered, print out the largest and smallest of the numbers.

Example:
```
Enter a number: 5
Enter a number: 3
Enter a number: 10
Enter a number: done
Maximum is 10
Minimum is 3
```

In [ ]:
maximum = -999999
minimum = 999999

while True:
  num = input('Enter a number: ')
  if num == 'done':
    break
  num = int(num)
  if num > maximum:
    maximum = num
  if num < minimum:
    minimum = num
print(f'Maximum is {maximum}')
print(f'Minimum is {minimum}')

**Q12**:
Write a program that take in two numbers $n$ and $m$ from a user. <br> Then print out a sequence of numbers from 1 to $n$ separated by commas. <br> If a number in the sequence is divisible by $m$, print 'D' instead.

Do NOT print out any extra comma at the end.


Example:

```
Enter n: 20
Enter m: 4
1,2,3,D,5,6,7,D,9,10,11,D,13,14,15,D,17,18,19,D
```

```
Enter n: 100
Enter m: 3
1,2,D,4,5,D,7,8,D,10,11,D,13,14,D,16,17,D,19,20,D,22,23,D,25,26,D,28,29,D,31,32,D,34,35,D,37,38,D,40,41,D,43,44,D,46,47,D,49,50,D,52,53,D,55,56,D,58,59,D,61,62,D,64,65,D,67,68,D,70,71,D,73,74,D,76,77,D,79,80,D,82,83,D,85,86,D,88,89,D,91,92,D,94,95,D,97,98,D,100
```

In [ ]:
n = int(input('Enter n: '))
m = int(input('Enter m: '))

for i in range(1, n + 1):

  if i == n: # at the end/last number
    if i % m == 0:
      print('D', end='')
    else:
      print(i, end='')
  else:
    if i % m == 0:
      print('D', end=',')
    else:
      print(i, end=',')

**Q13**: Printing outer traingle

Write a program that takes in an interger number from a user and then print out a traingle shown below.

```
Enter a number: 1
*
```

```
Enter a number: 2
*
 *
```
```
Enter a number: 3
*
 *
  *
```
```
Enter a number: 6
*
 *
  *
   *
    *
     *
```

In [ ]:
n = int(input('Enter a number: '))

for r in range(n):
  for c in range(r):
    print(" ", end='')
  print("*")

## Submission:

* File > Download > Download.ipynb
* Upload it to Microsoft Team