<a href="https://colab.research.google.com/github/yongsa-nut/TU_Intro_Prog/blob/main/Chapter_4_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1** Write the output of the following program:

```
num = 10
while num > 1:
 print(num, end="")
 num -= 2
```

**Q2**: Write the output of the following program:

```
total = 0
for i in range(1,10,2):
  total += i
print(i)
```

**Q3**: Write the output of the following program:

```
total = 0
for num in [4, 5, 7, 9, 12]:
  if num %2 == 0:
    total += num
  else:
    total += 1
print(total)
```

**Q4**: Genearl Looping paterns
```
lowest = -1
for n in [10, 20, 30, 40, 50]:
  if n < lowest:
    lowest = n
print(lowest)
```

**Q5**: Write the output of the folowing program

```
for i in range(5):
  for j in range(1, i):
    print(j, end='')
```



---

**Q6**:
Write a program that repeatedly prompts a user for integer numbers until the user enters 'done'. <br> Once 'done' is entered, print out the largest and smallest of the numbers.

Example:
```
Enter a number: 5
Enter a number: 3
Enter a number: 10
Enter a number: done
Maximum is 10
Minimum is 3
```

**Q7**:
Write the program based on the pseudocode before. The goal is to display the train ticket price table for upto 10 stations. The initial price is 20 and the price increases by 10 every station.

**Pseudocode**
* Receive input n from the user.
* For loop i from 1 to n.
  * First print out the current station i "from station i:"
  * Then for loop backward from i to 1 to display the cost backward

Example
```
Enter n: 5
from station 1: 20
from station 2: 30 20
from station 3: 40 30 20
from station 4: 50 40 30 20
from station 5: 60 50 40 30 20
```