<a href="https://colab.research.google.com/github/yongsa-nut/TU_Intro_Prog/blob/main/Chapter_2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: One of the lines below causes syntax error. Fix it.

```
a = int(input("Enter n: ))
a * 5 = a
print("a = ", format(a,".5f"))
```

**Q2**: Complete the code using f-string so that the output match the example below.


```
a = 55.5
b = "2500"
print(______________________________)
```



```
55.50
2,500
```

**Q3**: The code below has an error. Fix it.

```
num = input("Enter your number:")
num = num*2 + num*3
print(num, "This is the result")
```

**Q4**: What will the following code print out?

```
num = 1
num = 4 / 2 * 2 ** 2 * 3 - num
print(num)
```

**Q5**: Fill in the blank so that the output is 8, 5
```
x = 85
print(f"{x_10}, {x_10}")
```

**Q6**: What will the following code print out?
```
x = 10%(5%2) + 3
print(x)
```

**Q7**: What will the following code print out?

```
first_string = "AAA"
second_string = "BBB"
print(first_string,"***\n", second_string)
```

**Q8**: What will the following code print out?
```
x = 6666
y = 0.5635
print("{} and {:.2%}".format(x,y))
```

**Q9**: What will the $\texttt{print}$ below display?


```
x = 3
y = 4
print("{0} - {1} = {2}; {0} * {1} = {3}".format(x, y, x-y, x*y))
```

**Q10**: What will the following code print out?
```
x = 10
y = x + eval("2*3")
print(y)
```

**Q11**: What will the following code print out?
```
print("A", "B", "C", end="")
print("1", "2", "3", sep="*")
```

**Q12**: What will the following code print out?

```
x = "Hello"
y = "World!"
one = "1"
two = "2"
print(x + y + one + two)
```

**Q13**: What will the following code print out?

```
x = 99999
print(f"{x:.2f}")
```

**Q14**: There is a problem with the code below. Fix it.

```
# Calculate an equation
x = float(input("Enter x: ))
y = (x**2) + ((x-1)*3))
print(y)
```

**Q15**: What will the following code print out?

```
x = 3
y = 2
z = (x**x)%y + 5*3/2
print(f"{z:.3f}")
```

**Q16**: Write a program that takes in a non-negative integer x from the user, <br>return the square root of x with only two decimal precision

example
```
Enter your number : 8
2.83
```

**Q17**: Receive an input from the user. The input will be the number between 10 - 99.

Your task is to calculate the square of the first digit + the square of the second digit

example:
```
Enter your number: 89
145
```
explanation $8^2 + 9^2 = 145$

**Q18:** Write a program to implement a bank's change-making function.

The program takes an amount in baht and return the smallest possible number of <br> coins that add up to that amount. Assume the availability of coins is 1, 2, 5, 10.

Example:
```
Enter the amount: 121
Change: 12 ten-baht, 0 five-baht, 0 two-baht, 1 one-baht.
```

```
Enter the amount: 78
Change: 7 ten-baht, 1 five-baht, 1 two-bath, 1 one-baht.
```

**Q19**: Write a cashier program to calculate the total payment. There are 4 <br> items: cookie (5 baht), water (10 baht), soda (20 baht), and popcorn (30)

Input:
- The number of cookie
- The number of water
- The number of soda
- The number of popcorn

Output:
- The total payment

Note:
- You must use $\texttt{Named constant}$.

Example:

```
The number of cookie: 3
The number of water: 2
The number of soda: 0
The number of popcorn: 1
Total payment = 65 baht.
```

**Q20**: Implement a program to calculate the travel time between two cities.

Input:
- The name of the first city.
- The name of the second city.
- The distance in km.
- The speed in km/h.

Output:
- The travel time between the first city and the second city in hour and minute.

Note:
- Round down the remaining minute.
- This question is hard. It's okay to skip it.

Example
```
The name of the first city: London
The name of the second city: Glasgow
The distance in km: 403.1
The speed in km/h: 60
The travel time between London and Glassgow is 6 hours and 43 minutes.
```

```
The name of the first city: Bangkok
The name of the second city: Chaingmai
The distance in km: 686.8
The speed in km/h: 100
The travel time between London and Glassgow is 6 hours and 52 minutes.
```

## Submission:

* File > Download > Download .ipynb
* Rename the file to "sectionid_yourid_firstname_lastname_chap2exercise"
  * Section id:
    * Monday 9:30 - 12:30: 810002
    * Thrusady 9:30 - 12:30: 320001
    * Thrusday 13:30 - 16:30: 750003
* Send it to ynutchan@engr.tu.ac.th with the title the same as the filename.