<a href="https://colab.research.google.com/github/yongsa-nut/TU_Intro_Prog/blob/main/Midterm_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: What will the following program print out? Assume the user input 3 and 5.

```
x = int(input('Enter x: '))
y = int(input('Enter y: '))

print(f'{x+y+10*5:.2f}, {x+y**2/2:.3f}')
```

**Q2**: Fill in the blanks so that the statement below print out the following:

```
1 2 2.5 25
```
```
print(5 __ 2, 5 __ 2, 5 __ 2, 5 __ 2)
```

**Q3**: What will the following program output?

```
if 10 < 5:
  print('a', end='')
else:
  print('b', end='')
if 10 > 5 and 5 > 20:
  print('c', end='')
elif 7 == 5 or 6 > 3:
  print('d', end='')
if 3%2 == 1:
  print('e', end='')
```

**Q4**: Fill a number in the blank (__) so that the following program print out 'D'

```
num = __
if num >= 49:
  print('A')
else:
  if num < 45 or num > 60:
    print('B')
  elif num % 5 == 0 or num%2==0:
    print('C')
  else:
    print('D')
```

**Q5**: What will the following program print out?

```
a = 'HELLO' == 'hello'
b = 'There' > 'THERE'

print(f'{a or not b}')
```

**Q6**: Fill in the blank so that the code print out 7 4 1

```
for i in _____:
  print(i, end=' ')
```

**Q7**: What will the following code print out?

```
x = 0
total = 0
while x < 2:
  x += 1
  for i in range(x):
    total += x
print(total)
```

**Q8**: What will the following code print out?

```
y = 0
for num in [1, 5, 4, 7, 0]:
  for i in range(num, 3):
    y -= 1  
print(y)
```

**Q9**: Fix the error of the following code.

```
x = input('Enter x:')
x /= 5
print(x, x+1)
```

**Q10:** Fill in the blank (_) so that the program print out 8.

```
num = 10
count = 0
while num > 0:
  num = num _ 2
  count += num
print(count)
```

**Q11**: What will the following program print out?

```
numbers = [5, 10, 15, 20, 77]
count = 0
for number in numbers:
  if number % 5 == 0 and number % 2 == 0:
    count += 3
  elif number % 5 == 0:
    count += 1
  elif number % 2 == 0:
    count -= 10
print(count)
```

**Q12**: What will the following program print out?

```
target = 'j'  
count = 0
for word in ['a','A','z','Z','j','jJ']:
  if word > target:
    count += 1
print(count)
```

**Q13**: What will the following program print out?

```
x = 0

while x < 3:
  for i in range(x+6, x+x, -2):
    print(i, end='- ')
  for j in range(x, x+1, 1):
    print(j, end='+ ')
  x += 2
```

**Q14**: What will the following program print out?

```
count = 0
for i in range(5, 10, 2):
  for j in range(10, 1, -3):
    if (i + j)%2 == 0:
      count+=1
print(count)
```

**Q15**: What wil lthe following program print out?

```
for i in range(5):
  if i < 3:
    x = i
    while x > 0:
      print(f'{x}', end=' ')
      x -= 1
  else:
    for j in range(i,i*2+1,2):
      print(j, end=' ')
```

**Q16**:
Write a program to calculate and classify a user's behavior score.

The program first receives an initial behavior score.
<br> Next, the program receives an integer $n$ for the number of times the user receives a penalty.
<br> Afterward, the program receives $n$ integers for penalties. The initial behavior score is reduced by the total of all penalties.

Finally, the remaining score is classified based on the following criteria:
* If the score is at least 80, your grade is Excellent.
* If the score is between 60 and 79 (inclusive), your grade is Good.
* If the score is below 60, your grade is Bad.

**Input**
* An integer for the initial behavior score.
* An integer $n$ for the number of test scores
* $n$ integer numbers for test scores.

**Output**
* print out the remaining behavior score and the grade of your behavior score.

Example
```
Enter the intial behavior score: 100
Number of penalties: 3
Enter penalty: 10
Enter penalty: 10
Enter penalty: 15
The remaining behavior score is 65 and the grade is Good.
```

```
Enter the intial behavior score: 120
Number of penalties: 5
Enter penalty: 20
Enter penalty: 30
Enter penalty: 15
Enter penalty: 10
Enter penalty: 5
The remaining behavior score is 40 and the grade is Bad.
```

**Q17** Cashier Program Ver 3

Welcome to another cashier program. This time we are selling food products as follows: eggs (5 baht each) and milks (20 baht each). Importantly, we are selling them in dozen (12 per order).

The customers can get discounts based on the following conditions.

* If they buy at least 50 eggs, they get a 30% discount on eggs.
* If they buy at least 75 milks, they get a 20% discount on milks.
* If they buy at least 100 eggs and 100 milks, they also get another 100 baht discount.

Finally, the cusotmers have to pay a 10% sale tax of the total payment calculated after all the promotions.

**Input**
* Eggs (in dozen)
* Milks (in dozen)

**Output**
* The total payment before any discounts and sale tax in two decimal places.
* The payment after all the discounts but before sale tax in two decimal places.
* The final payment after all the discounts and the sale tax.

**Note**
* Use Named Constant

Example

```
Enter the number of eggs (dozen): 1
Enter the number of milks (dozen): 5
The original payment is 1260.00 Baht.
The payment after discount is 1260.00 Bath.
The final payment is 1386.00 Bath.
```

```
Enter the number of eggs (dozen): 10
Enter the number of milks (dozen): 10
The original payment is 3000.00 Baht.
The payment after discount is 2240.00 Baht.
The final payment is 2464.00 Baht.
```

```
Enter the number of eggs (dozen): 5
Enter the number of milks (dozen): 5
The original payment is 1500.00 Baht.
The payment after discount is 1410.00 Baht.
The final payment is 1551.00 Baht.
```

```
Enter the number of eggs (dozen): 3
Enter the number of milks (dozen): 10
The original payment is 2580.00 Baht.
The payment after discount is 2100.00 Baht.
The final payment is 2310.00 Baht.
```

**Q18**: Converting seconds to MM:SS

Write a program that takes in second and convert it to HH:MM:SS format.

**Input**
* An integer between 0 - 3599. (Don't need to check)

**Output**
* print out 'MM:SS'


Example:
```
Enter the second: 5
00:05

```

```
Enter the second: 67
01:07
```

```
Enter the second: 3599
59:59
```