<a href="https://colab.research.google.com/github/yongsa-nut/TU_Intro_Prog/blob/main/Mock_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: Fill in the blank so that the program outputs like the examples below.


```
x = int(input("Enter n: "))
x = x____________
print("x =", x)
```

example 1:


```
Enter n: 500
x = 5
```

example 2:

```
Enter n: 800
x = 8
```

**Q2**: Fill in the blanks so that the statement below print out the following:

```
1 2 2.5 25
```
```
print(5_2, 5_2, 5_2, 5_2)
```

**Q3**: What will the following code print out?
```
x = 31356190
y = 0.44
print(f"x = {x:,d}, y ={y:.1%}")
```

**Q4**: What will the following program output?
```
num1 = 10
num2 = 7
num3 = 4

if num1 < num2 and 10 / (num2-num2) > 0:
  num2 = num2/2
if num3 < num2 or num2 / (num1 * 0) != 0:
  num1 = num1 * 2
  num2 = num2 - num3
  num3 = num2 + num3
else:
  num3 = num3 * 2
  num1 = num3 - num1
  num2 = num2 + num2

print(num1, num2, num3)
```

**Q5**: What will the following code print out?
```
num = 10
x = 5
num = x + num ** 2 /5 - x * 3
x = 10
print(num)
```

**Q6**: What will the following program output?

```
a = False
b = False
c = False

if a and not b and not c:
  print("First")
elif a or not b and not c:
  print("Second")
else:
  print("Third")
```

**Q7**: What will the following program output?

```
cond1 = "Elon" > "Zuck"
cond2 = chr(66) > chr(98)
cond3 = ord("a") > ord("Z")
print(f"{cond1}, {cond2}, {cond3}")
```

**Q8**: What will the following program output?
```
num1 = 7
num2 = 11

if num2 // num1 > num2 % num1:
  print("First")
if num1*num2 > num1**num2:
  print("Second")
else:
  if num1 > num2 and num1 - num2 > 0:
    print("Third")
  else:
    print("Fourth")
```

**Q9**: What $\texttt{x}$ needs to be to make the following program output "Third"?

```
x = _
if (x%5) > 10:
  print("First")
elif (x**2) + 5 > 20:
  print("Second")
elif (x%2==1) and (x+5) > 6:
  print("Third")
else:
  print("Fourth")
```

**Q10**: What will the code below print out?

```
num1 = 123456789.09
num2 = 3
print(f"{num1:,.3f}, {num2*3}, {eval('1+1')}")
```

**Q11**:

Write the output of the following program:

```
num = 10
while num > 1:
  if num%2 == 0:
    print(num, end = ",")
  num -=1
```

**Q12**: Write the output of the following program:

```
total = 0
for exp in ['1+2', '2*3', '3-4', '7%4','8//5']:
  total += eval(exp)
print(f"{total:.2f}")
```

**Q13**: Write the output of the following program:
```
x = 1
for i in range(1, 12, 2):
  for j in range(6, 0, -3):
    x = x + 2
print(f"x = {x}")
```

**Q14**: Write the output of the following program:
```
x = 950
y = 100

while y != x:
  if x > y:
    x -= y
  else:
    y -= x
print(x)
```

**Q15**: There is a problem with the program below. Fix it.

```
n = 0
while n < 10:
  print(f"{n+2}")
  n -= 1
```



---

**Q16**:

Implement a program to calculate the following mathimatical formula. <br>Let $\pi$ be 3.1416. Let user enter the value for $r$ and $h$.

$V = \frac{1}{3}\pi r^2h$

example:
```
Enter r: 2
Enter h: 3
12.5664
```

**Q17**:

Implement a program to take in user's first name, last name, and the year of birth (in CE). <br> Then print out their last name, first name, and their age as shown below. <br> Calculate the age by simply subtracting the year of birth from the current year (2024).

**Input**: First name, last name, and the year of birth.

**Output**: Print statement

Example:
```
Enter your first name:  Mary
Enter your last name: Smith
Enter your year of bith: " 1995
Smith, Mary age: 29.
```

**Q18**
Write a program to calculate a payment of two items.
* Item A costs 100 Baht.
* Item B costs 200 Baht.

Currently, there is a following discount program:
* If you buy A more than 5, you get 10% discount.
* If you buy B more than 7, you get 5% discount.

Input:
* Two numbers: the amount of A and B.

Output:
* The total cost.

example:
```
Enter number of A: 2
Enter number of B: 3
Net price: 800
```
```
Enter number of A: 10
Enter number of B: 10
Net price: 2800
```

**Q19**:
Write a program to determine the range of user's age.
* If age is below 12, "Children"
* If age is between 12 and 18, "Adolescence"
* If age is between 19 and 30, "Young Adult"
* If age is between 31 and 60, "Middle Aged"
* If age is greater than 60, "Elderly"

example
```
Enter your age: 12
Children
```
```
Enter your age 31
Middle Aged
```

**Q20**: Write a program to print a diamond.

**Input**: an odd number >= 1

```
Enter n: 1
*
```

```
Enter n: 3
 *
***
 *
```

```
Enter n: 5
  *
 ***
*****
 ***
  *
```