<a href="https://colab.research.google.com/github/yongsa-nut/TU_Intro_Prog/blob/main/Mock_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: Fill in the blank so that the program outputs 9 and 6.

```
x = 69
first = x _ 60
second = x _ 10
print(first, second)
```

**Q5**: What will the following code print out?
```
num = 10
x = 5
num = x + num ** 2 /5 - x * 3
x = 10
print(num)
```

**Q3**: What will the following code print out? Assume inputs are 2 and 4 respectively.
```
x = int(input('Enter a number '))
y = int(input('Enter a number: '))
print(f"Output = {10-y**x+10*3:.2f}")
```

**Q4**: What will the following program output?
```
num1 = 10
num2 = 8
num3 = 4

if num1 > num2 and (num2-num2) == 0:
  num2 = num2//2
if num3 < num2 or num2 / num1 != 0:
  num1 = num1 * 2
  num2 = num2 - num3
  num3 = num2 + num3
else:
  num3 = num3 * 2
  num1 = num3 - num1
  num2 = num2 + num2

print(num1, num2, num3)
```

**Q5**: What will the following program output?

```
a = False
b = False
c = False

if a and not b and not c:
  print("First")
elif a or not b and not c:
  print("Second")
else:
  print("Third")
```

**Q6**: What will the following program output?

```
x = 1
for i in range(x, x*5, 2):
  if i > x:
    print(i, end=' ')
for i in range(x*10+2, x, -2):
  if i % 3 == 1:
    print(i, end=' ')
```

**Q7**: What will the following program print out?

```
LIMIT = 40

num = 1
total = 0
count = 0

while total + num < LIMIT:
  total += num
  count += 1
  num *= 3

print(f'{total} {count}')
```

**Q8**: What will the following program output?

```
total = 0
for num in range(5, 5):
  total += num
for num in range(0, 12, 3):
  total += num
for num in range(5, 1, -2):
  total += num
print(total)
```

**Q9**: What $\texttt{x}$ needs to be to make the following program output "Third"?

```
x = _
if x > 10*2:
  print("First")
elif (x**2) + 5 > 20:
  print("Second")
elif (x%2==1) and (x+5) > 6:
  print("Third")
else:
  print("Fourth")
```

**Q10**: What will the code below print out?

```
total = 0
for var in [1, 7, 10, 17, 20]:
  if var % 5 == 0:
    total += var
  else:
    total += 7
print(total)
```

**Q11**: Fill in the blank so that the program print out 4 2 0 -2 -4

```
for i in range(______):
  print(i, end=' ')
```

**Q12**: Write the output of the following program:

```
n = 2

while n >= 0:
  for i in range(n, n*3+1, 3):
    print(i, end=' ')
  for j in range(n + 2, n - 2, -2):
    print(j+1, end=' ')
  n -= 2
```

**Q13**: Write the output of the following program:
```
count = 0
for i in range(1, 7, 2):
  for j in range(6, 0, -3):
    if (i+j) >= 6:
      count += 1
print(f"count = {count}")
```

**Q14**: Write the output of the following program:
```
count = 0
names = ['Adam','Sophia','Noah','Mary','Nico','John']
my_name = 'Nut'
for name in names:
  if my_name > names:
     count += 1
print(count)
```

**Q15**: Write the output of the following program:

```
total = 0
for i in range(1, 6):
  if i % 2 == 0:
     for j in range(i//2,i):
        total += (i+j)%3
print(total)
```



---

**Q16**: Creating a mixed drink

In this program, we are going to mix lots of random drinks together. <br> You are given a cylinder tank to mix a drink. The tank has a radius of 5 cm and a height of 30 cm. <br> Then you will receive one drink at a time to pour into the tank. You will always pour the whole bottle. <br> If you cannot pour the whole bottle into the tank (because it will overflow), you stop. <br> We want to know how many drinks you end up pouring into the tank without overflow and how much would it cost in total.


**Input**:
* A float number for the volumn of the drink in ml.
* The price of the drink

**Output**
* After successfully pouring each drink, you will display the total volumn (ml) of all drinks so far in two decimals and the total cost so far.
* Once you cannot pour any more drink, you will display the total volumn of the tank, the remaining volumn of the tank, and the total cost. All in 2 decimal places. Finally, print out the number of drink.

**Note**
* Use $\pi$ = 3.14
* Cylinder formula is $\pi r^2h$
* Use Named Constant

Example
```
Enter the bottle's volumn: 500
Enter the drink's price: 10
Total drink's volumn = 500.00, Total cost = 10.00, Total drink = 1

Enter the bottle's volumn: 550
Enter the drink's price: 20
Total drink's volumn = 1050.00, Total cost = 30.00, Total drink = 2

Enter the bottle's volumn: 600
Enter the drink's price: 30
Total drink's volumn = 1650.00, Total cost = 60.00, Total drink = 3

Enter the bottle's volumn: 550
Enter the drink's price: 20
Total drink's volumn = 2200.00, Total cost = 80.00, Total drink = 4

Enter the bottle's volumn: 300
Enter the drink's price: 30

The total drink's volumn is 2200.00
The remaining volumn of the tank is 155.00
The total cost is 80.00
The total number of bottle is 4
```

```
Enter the bottle's volumn: 100
Enter the drink's price: 100
Total drink's volumn = 100.00, Total cost = 100.00, Total drink = 1

Enter the bottle's volumn: 1000
Enter the drink's price: 200
Total drink's volumn = 1100.00, Total cost = 300.00, Total drink = 2

Enter the bottle's volumn: 1200
Enter the drink's price: 250
Total drink's volumn = 2300.00, Total cost = 550.00, Total drink = 3

Enter the bottle's volumn: 500
Enter the drink's price: 10

The total drink's volumn is 2300.00
The remaining volumn of the tank is 55.00
The total cost is 550.00
The total number of bottle is 3
```

```
Enter the bottle's volumn: 2500
Enter the drink's price: 300

The total drink's volumn is 0.00
The remaining volumn of the tank is 2355.00
The total cost is 0.00
The total number of bottle is 0
```

In [ ]:
# Named Constant



# Initial Accumulator Variables
count = 0


tank_volumn =          #Calculate the cylinder volumn

# Input


while  #check you can pour the whole new drink to the tank
  ## Update accumulator variables
  total_vol   =
  total_cost  =
  count      += 1
  print(f"Total drink's volumn = {total_vol:.2f}, Total cost = {total_cost:.2f}, Total drink = {count}")
  print()
  # New input


#Output

**Q17** Let's make milk puddings

Let's buy some more eggs and milk to make some milk puddings this time!
To make one BIG pudding, it requires 10 eggs and 3 bottles of milk. This time the inputs will be the price of egg and the price of milk and the number of pudding we want to make. As usual, you will get some discount if you buy a lot of eggs and milks as follow.

* If you buy at least 30 eggs, you will get 20% discount on eggs.
* If you buy at least 20 bottles of milks, you will get 10% discount on milk.

Print out the total cost.

**input**
* The price of egg
* The price of milk
* The number of puddings to be made

**Output**
* The original total cost in two decimal places.
* The discounted cost in two decimal places.

**Note**
* Use Named Constant

Examples
```
Enter the price of an egg: 5
Enter the price of milk: 20
Enter the number of pudding to be made: 10
The original cost is 1100.00
The discounted cost is 940.00
```

```
Enter the price of an egg: 10
Enter the price of milk: 20
Enter the number of pudding to be made: 2
The original cost is 320.00
The discounted cost is 320.00
```

```
Enter the price of an egg: 10
Enter the price of milk: 30
Enter the number of pudding to be made: 20
The original cost is 3800.00
The discounted cost is 3220.00
```