<a href="https://colab.research.google.com/github/yongsa-nut/TU_Intro_Prog/blob/main/Mock_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: Fill in the blank so that the program outputs like the examples below.


```
x = int(input("Enter n: "))
x = x____________
print("x =", x)
```

example 1:


```
Enter n: 500
x = 5
```

example 2:

```
Enter n: 800
x = 8
```

**Q2**: What will the following code print out?

```
first = 'AAAaaaa'
second = "AAAww"
third = 'aaaAAAA'

print(f'{first > second}, {second > third}, {first > third}')
```

**Q3**: What will the following code print out?
```
x = 31356190
y = 0.44
print(f"x = {x:,d}, y ={y:.1%}")
```

**Q4**: What will the following program output?
```
num1 = 10
num2 = 7
num3 = 4

if num1 < num2 and 10 / (num2-num2) > 0:
  num2 = num2/2
if num3 < num2 or num2 / (num1 * 0) != 0:
  num1 = num1 * 2
  num2 = num2 - num3
  num3 = num2 + num3
else:
  num3 = num3 * 2
  num1 = num3 - num1
  num2 = num2 + num2

print(num1, num2, num3)
```

**Q5**: What will the following code print out?
```
num = 10
x = 5
num = x + num ** 2 /5 - x * 3
x = 10
print(num)
```

**Q6**: What will the following program output?

```
a = False
b = False
c = False

if a and not b and not c:
  print("First")
elif a or not b and not c:
  print("Second")
else:
  print("Third")
```

**Q7**: What will the following program output?

```
x = 1
for i in range(x, x*5, 2):
  if i > x:
    print(i, end='')
for i in range(x*10+2, x, -2):
  if i % 3 == 1:
    print(i, end='')
```

**Q8**: What will the following program output?
```
num1 = 7
num2 = 11

if num2 // num1 > num2 % num1:
  print("First")
if num1*num2 > num1**num2:
  print("Second")
else:
  if num1 > num2 and num1 - num2 > 0:
    print("Third")
  else:
    print("Fourth")
```

**Q9**: What $\texttt{x}$ needs to be to make the following program output "Third"?

```
x = _
if (x%5) > 10:
  print("First")
elif (x**2) + 5 > 20:
  print("Second")
elif (x%2==1) and (x+5) > 6:
  print("Third")
else:
  print("Fourth")
```

**Q10**: What will the code below print out?

```
num1 = 123456789.09
num2 = 3
print(f"{num1:,.3f}, {num2*3}")
```

**Q11**:

Write the output of the following program:

```
num = 10
while num > 1:
  if num%2 == 0:
    print(num, end = ",")
  num -=1
```

**Q12**: Write the output of the following program:

```
total = 0
for i in range(10):
  while i > 5:
    total += 1
    i -= 1
print(f"{total:.2f}")
```

**Q13**: Write the output of the following program:
```
x = 1
for i in range(1, 12, 2):
  for j in range(6, 0, -3):
    x = x + 2
print(f"x = {x}")
```

**Q14**: Write the output of the following program:
```
x = 950
y = 100

while y != x:
  if x > y:
    x -= y
  else:
    y -= x
print(x)
```

**Q15**: There is a problem with the program below. Fix it.

```
n = 0
while n < 10:
  print(f"{n+2}")
  n -= 1
```



---

**Q16**:
Write a program to classify the oldest person in the list based on the following criteria:

* If age is below 12, "Children"
* If age is between 12 and 18, "Adolescence"
* If age is between 19 and 30, "Young Adult"
* If age is between 31 and 60, "Middle Aged"
* If age is greater than 60, "Elderly"

**Input**
* an interger $n$ for the number of people
* $n$ integer numbers for people's age

**Output**
* print out the category.

Example
```
Number of people: 3
Enter age: 5
Enter age: 12
Enter age: 7
The oldest person is Children.
```

```
Number of people: 5
Enter age: 31
Enter age: 10
Enter age: 25
Enter age: 30
Enter age: 17
The oldest person is Middle Aged.
```

**Q17** Cashier V4

Welcome to another Cashier program. This time we are selling pizza (30 Baht per slice), pasta (80 Baht), and water (10 Baht).

The promotions are as follow:

* If you buy at least 10 slices of pizza, you get a 20% discount off pizza.
* Pasta is buy one get one free. If you buy 2 pasta, you only pay 1. If you buy 5 pasta, you pay 3.
* If your total payment after the both two promotions is at least 1,000 baht, you get an additional 100 baht discount.

Finally, you have to pay a 10% sale tax of the total payment calculated after all the promotions.

**input**
* An interger number for the number of pizza slice.
* An interger number for the number of pasta.
* An interger number for the number of water.

**Output**
* The original payment before any discount in two decimal places.
* The final payment in two decimal places.

**Note**
* Use Named Constant

Examples
```
Enter the number of pizza: 5
Enter the number of pasta: 1
Enter the number of water: 5
The original payment is 280.00 Baht.
The final payment is 308.00 Baht.
```

```
Enter the number of pizza: 10
Enter the number of pasta: 2
Enter the number of water: 10
The original payment is 560.00 Baht.
The final payment is 462.00 Baht.
```

```
Enter the number of pizza: 5
Enter the number of pasta: 5
Enter the number of water: 5
The original payment is 600.00 Baht.
The final payment is 484.00 Baht.
```

```
Enter the number of pizza: 20
Enter the number of pasta: 10
Enter the number of water: 10
The original payment is 1500.00 Baht.
The final payment is 1078.00 Baht.
```